@{
    ViewBag.Title = "Index2";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Scripts/flowchart/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/flowchart/jsplumb.min.js"></script>
    <script src="~/Scripts/flowchart/bootstrap.min.js"></script>

    <style type="text/css">

        *,
        *:before,
        *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .item {
            border: 1px solid black;
            position: absolute;
            /*text-align: center;*/
            font-size: 10px;
            font-family: "Microsoft YaHei" !important;
            font-weight: 700;
            border: 1px solid #ccc;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -webkit-box-shadow: 1px 1px 10px #aaa;
            -moz-box-shadow: 1px 1px 10px #aaa;
            box-shadow: 1px 1px 10px #aaa;
        }

            .item span {
                float: none !important;
                padding-left: 5px !important;
            }

        .label {
            font-size: 13px;
            font-family: "Microsoft YaHei" !important;
        }

        .flowTitle {
            font-size: 13px;
            font-family: "Microsoft YaHei" !important;
            font-weight: 700;
        }

        img {
            vertical-align: bottom !important;
            border: 1px solid #ccc;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }

        .modal-header {
            padding-top: 4px;
            padding-bottom: 4px;
            /*background-color: rgb(110, 117, 110);
            color: white;*/
        }

        .modal-body {
            padding: 5px;
            padding-left: 10px;
        }

        .tab-pane {
            min-height: 250px;
        }

        th, td {
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            font-size: 12px;
        }

        .modal-backdrop.onloading {
            background-image: url(/Images/loading_2x.gif);
            background-position: center;
            background-repeat: no-repeat;
            z-index: 9999;
        }

        .item:hover {
            /*transform: translate3d(-0.89px, -0.89px, 0) scale(1.05);*/
            box-shadow: -2px -2px 6px 2px rgba(108, 108, 108, 0.1) inset, 0 0 0 5px rgba(255, 255, 255, .6) inset, 0 0 0 1px rgba(139, 139, 139, 0.1), 2px 2px 10px rgba(0,0,0,.2);
        }
    </style>

    <script type="text/template" id="detailsTemplate">
        <div class="modal fade" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">[ActName]</h4>
                    </div>
                    <div class="modal-body">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li role="presentation" class="active"><a href="#overview" aria-controls="Overview" role="tab" data-toggle="tab">概述</a></li>
                            <li role="presentation"><a href="#participants" aria-controls="Participants" role="tab" data-toggle="tab">参与者</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="overview">
                                <div class="row" style="margin-top:10px !important;">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">名称：</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" value="[ActName]">
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px !important;">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">描述：</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px !important;">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">状态：</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" value="[Status]">
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px !important;">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">发起时间：</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" value="[StartDate]">
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px !important;">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">结束时间：</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" value="[FinishDate]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="participants">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                用户
                                            </th>
                                            <th>
                                                开始时间
                                            </th>
                                            <th>
                                                结束时间
                                            </th>
                                            <th>
                                                状态
                                            </th>
                                            <th>
                                                操作
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </script>


    <script type="text/template" id="prognosisTemplate">
        <div class="modal fade" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">[Name]</h4>
                    </div>
                    <div class="modal-body">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li role="presentation" class="active"><a href="#overview" aria-controls="Overview" role="tab" data-toggle="tab">概述</a></li>
                            <li role="presentation"><a href="#participants" aria-controls="Participants" role="tab" data-toggle="tab">参与者预判</a></li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="overview">
                                <div class="row" style="margin-top:10px !important;">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">名称：</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" value="[Name]">
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px !important;">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">描述：</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="participants">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                用户
                                            </th>
                                            <th>
                                                状态
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </script>

</head>
<body>
    <div class="heandTitle">
        <img src="~/Images/k2_logo.gif" style="border:none" />
        <span class="flowTitle">
        </span>
    </div>
    <div id="demo">
    </div>
    <script type="text/javascript">

        var data = '@Html.Raw(ViewBag.SoapTest)';
        var lang = "@ViewBag.Lang";
        //JS替换空格回车换行符
        data = data.replace(/\r/g, "&nbsp;")
        data = data.replace(/\n/g, "<br />")
        data = data.replace(/\t/g, "&nbsp;")
        var jsonString = data;

        //获取多语言
        var GetMultilingualName = function (langKey) {
            var name = "";
            switch (langKey) {
                case "流程名称":
                    name = lang == "zh-CN" ? "流程名称" : "Process Name";
                    break;
                case "流程单号":
                    name = lang == "zh-CN" ? "流程单号" : "Process BillNo";
                    break;
                case "Start":
                    name = "发起权限代理";
                    break;
                case "开始":
                    delegationType = "发起权限代理";
                    break;

                case "结束":
                    delegationType = "审批权限代理";
                    break;
                case "000_重新提交":
                    //delegationType = "审批权限代理";
                    break;
                //000_重新提交
            }

            return name;
        }

    </script>
    <script src="~/Scripts/flowchart/K2.Flow.js"></script>
</body>
</html>

