/* 样式注意，common.css是通过源文件common.less编译后得到的，如果要加入样式，请先获取源文件common.less*/
.font-PingFangSC-Regular {
  font-family: '微软雅黑' !important;
}
.font-PingFangSC-Medium {
  font-family: '微软雅黑' !important;
}
.font-PingFangSC-Bold {
  font-family: '微软雅黑' !important;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.bg-white {
  background-color: #ffffff;
}
.pd-24 {
  padding: 24px;
}
.height-100 {
  height: 100%;
  box-sizing: border-box;
}
.ellipsis-one {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.fs-16 {
  font-size: 16px;
}
.font-theme {
  color: #00abd5;
}
.el-tooltip__popper.is-dark {
  max-width: 50%;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #ebf1f4;
  width: 100%;
  height: 100%;
  font-family: '微软雅黑' !important;
  position: relative;
  min-width: 1000px;
  min-height: 600px;
}
#header-nav {
  height: 100%;
}
#header-nav .header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #ebf1f4;
}
#header-nav .header .text-align-left {
  display: flex;
  align-items: center;
}
#header-nav .header .text-align-left .el-row {
  float: left;
}
#header-nav .header .text-align-left .el-row i {
  margin-left: 17px;
  color: #8EA3B8;
  cursor: pointer;
}
#header-nav .header .text-align-left .logo {
  width: 327px;
  margin: 0 20px;
  background: url('images/logo.png');
  height: 50px;
}
#header-nav .header .text-align-left .logo-tip {
  color: #383D47;
  font-family: '微软雅黑' !important;
}
#header-nav .header .text-align-left .logo-tip .el-col {
  line-height: 1;
}
#header-nav .header .text-align-left .logo-tip .el-col:first-of-type {
  font-size: 16px;
}
#header-nav .header .text-align-left .logo-tip .el-col:last-of-type {
  font-size: 7px;
}
#header-nav .header .text-align-right {
  color: #4a505e !important;
  display: inherit;
  align-items: center;
  justify-content: flex-end;
}
#header-nav .header .text-align-right > .el-row {
  float: right;
  font-size: 14px;
  line-height: 1;
  margin: 0 24px;
  cursor: pointer;
}
#header-nav .header .text-align-right > .el-row i {
  margin-right: 6px;
  color: #8EA3B8;
  font-size: 14px;
}
#header-nav .header .text-align-right a {
  color: #4a505e;
  text-decoration: none;
}
#header-nav .header .text-align-right .langBtn .el-button {
  border-radius: 3px 0 0 3px;
  color: rgba(50, 57, 71, 0.55);
  border-color: #dee2e7;
}
#header-nav .header .text-align-right .langBtn .el-button--primary.is-plain {
  color: #fff;
  background-color: #00abd5 !important;
  border-color: #00abd5;
}
#header-nav .header .text-align-right .langBtn .el-button + .el-button {
  margin-left: -4px;
  border-radius: 0 3px 3px 0;
}
#header-nav .header .text-align-right .langBtn .el-button.is-plain:focus,
#header-nav .header .text-align-right .langBtn .el-button.is-plain:hover {
  background-color: rgba(0, 171, 213, 0.1);
  border-color: rgba(0, 171, 213, 0.1);
}
#header-nav .navMenu {
  width: 200px;
  height: calc(100% - 60px);
  overflow: auto;
  background-color: #ffffff;
  float: left;
}
#header-nav .navMenu .el-submenu__title,
#header-nav .navMenu .el-menu-item {
  height: 40px;
  line-height: 40px;
  padding: 0 17px;
  box-sizing: border-box;
  border-left: 2px solid #ffffff;
  color: #4a505e;
  font-family: '微软雅黑' !important;
}
#header-nav .navMenu .el-submenu__title i,
#header-nav .navMenu .el-menu-item i {
  color: #9AB0C6;
  margin-right: 10px;
}
#header-nav .navMenu .el-submenu__title.is-active,
#header-nav .navMenu .el-menu-item.is-active {
  color: #00abd5;
  background-color: #f0fafd;
  border-left-color: #00abd5;
}
#header-nav .navMenu .el-submenu__title.is-active i,
#header-nav .navMenu .el-menu-item.is-active i {
  color: #00abd5;
}
#header-nav .navMenu .el-submenu > .el-menu--inline > .el-menu-item {
  padding-left: 47px !important;
}
#header-nav .navMenu .el-menu--collapse .el-submenu > .el-submenu__title span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}
#header-nav .navMenu.active {
  width: 62px;
}
#header-nav .navMenu .el-menu-item span i.BusinessProcessTask,
#header-nav .navMenu .el-menu-item span i.MyCCTasks {
  display: inline-block;
  font-style: normal;
  border-radius: 10px;
  background-color: #FF6180;
  color: #fff !important;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  margin-left: 3px;
  padding: 0 6px;
}
#header-nav .navMenu .el-submenu__icon-arrow.el-icon-arrow-down {
  font-weight: bold;
  color: #000;
  font-size: 13px;
}
#header-nav .tab {
  float: left;
  margin: 16px 0 0 16px;
  font-size: 14px;
}
#header-nav .tab .el-col {
  height: 36px;
  line-height: 30px;
  background-color: #ffffff;
  padding: 0 14px;
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
  width: auto;
  margin-right: 3px;
  cursor: pointer;
  border-top: 6px solid #ffffff;
}
#header-nav .tab .el-col i {
  margin-left: 5px;
  background-color: rgba(140, 160, 179, 0.3);
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
}
#header-nav .tab .el-col.active {
  border-top: 6px solid #00abd5;
}
#header-nav .tab .el-col:first-of-type {
  padding: 0 26px;
}
#main-content {
  position: absolute;
  width: calc(100% - 232px);
  right: 16px;
  top: 113px;
  height: calc(100% - 136px);
  overflow: hidden;
}
#main-content.active {
  width: calc(100% - 92px);
}
#main-content .header-search {
  padding-bottom: 24px;
}
#main-content .header-search .search {
  width: 356px;
}
#main-content .header-search .search-btn {
  margin-right: 45px;
  margin-left: 8px;
}
@media (max-width: 1100px) {
  #main-content .header-search .search-btn {
    margin-right: 25px;
  }
}
#main-content .my-table {
  height: calc(100% - 100px);
  overflow: auto;
  border-left-width: 0;
}
#main-content .my-table .el-table__body-wrapper {
  max-height: calc(100% - 55px);
  overflow-y: auto;
}
#main-content .my-table td .cell {
  font-size: 14px;
  color: #3E4451;
}
#main-content .my-table td .cell .el-row {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  color: #3E4451;
}
#main-content .my-table th {
  background-color: #E9EDF2;
  font-size: 14px;
  color: #383D47;
}
#main-content .my-table a {
  cursor: pointer;
  color: #00abd5;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#main-content .my-table a:hover {
  text-decoration: underline;
}
#main-content .my-table .el-table__body {
  border-left: 1px solid #EBEEF5;
  position: relative;
  width: 100% !important;
}
#main-content .my-table .el-table__body:after {
  content: '';
  position: absolute;
  background-color: #EBEEF5;
  z-index: 1;
  top: 0;
  right: 1px;
  width: 1px;
  height: 100%;
}
#main-content .my-table.processAgent .el-table__body-wrapper {
  max-height: calc(100% - 90px);
}
.my-table.el-table--border::after {
  width: 0;
}
.my-table.el-table::before {
  height: 0;
}
.flow-table {
  overflow: auto;
}
.flow-table td .cell .el-row {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  color: #3E4451;
}
.flow-table th {
  background-color: #E9EDF2;
  font-size: 14px;
  color: #383D47;
}
.map > .el-row {
  height: 100%;
}
.map .search-btn {
  margin: 2px 0;
}
.map .left {
  border: 1px solid #E4E6EB;
  padding: 12px 24px;
  box-sizing: border-box;
  height: 100%;
}
.map .left .search {
  width: calc(100% - 80px);
  padding: 0 8px 0 0;
  box-sizing: border-box;
  float: left;
}
.map .left .el-tree {
  height: calc(100% - 30px);
  overflow: auto;
}
.map .left .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: #fff;
  color: #00abd5;
}
.map .right {
  height: 100%;
  padding: 12px 32px !important;
  box-sizing: border-box;
}
.map .right i {
  cursor: pointer;
}
.map .right .one {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.map .right .search {
  width: calc(100% - 90px);
  padding: 0 8px 0 0;
  box-sizing: border-box;
  float: left;
}
.map .right .map-content {
  height: calc(100% - 61px);
  overflow-y: auto;
}
.map .right .li {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  line-height: 18px;
  font-size: 14px;
}
.map .right .li .title {
  color: #576370;
  font-size: 14px;
  max-width: calc(100% - 30px);
  box-sizing: border-box;
  padding-left: 20px;
  display: inline-block;
  white-space: nowrap;
}
.map .right .li .title a {
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #00abd5;
}
.map .right .li .title a:hover {
  text-decoration: underline !important;
}
.map .right .li .title.font-gray {
  color: #a29c9c;
}
.map .right .li .title.font-gray a {
  position: relative;
  cursor: not-allowed;
}
.map .right .li .title.font-gray a:hover {
  color: #a29c9c;
}
.map .right .li .title.font-gray sup {
  position: absolute;
  top: -1px;
  right: -17px;
  background: #807b7b;
  color: #fff;
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  line-height: 15px;
}
.map .right .li i + .title {
  padding-left: 6px;
}
.map .right .li i.el-icon-star-on {
  color: #00abd5;
}
i {
  cursor: pointer;
}
.home-index {
  height: 100%;
}
.home-index .left-content {
  width: calc(72% - 16px);
  margin-right: 16px;
}
.home-index .left-content .list .li .urgency {
  font-style: normal;
  padding: 1px 6px;
  background: #FF6180;
  color: #fff;
  border-radius: 10px;
  float: left;
  line-height: 1;
  margin-right: 5px;
  font-size: 12px;
}
.home-index .left-content .list .li-top {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.home-index .left-content .list .li-top .more-btn {
  margin-left: 24px;
  cursor: pointer;
}
.home-index .left-content .list .li-top .el-button {
  width: 100px;
}
.home-index .left-content .list .li-top .li-title {
  width: calc(100% - 200px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  padding-right: 10px;
  box-sizing: border-box;
}
.home-index .left-content .list .li-top .li-btn {
  width: 200px;
  float: left;
}
.home-index .left-content .list .li-bottom {
  margin-top: 11px;
  color: #8EA3B8;
  font-size: 14px;
}
.home-index .left-content .list .li-bottom .ellipsis-one {
  line-height: 1;
}
.home-index .right-content,
.home-index .left-content {
  box-sizing: border-box;
  background: #ffffff;
  padding: 34px 24px 10px 24px;
  height: 100%;
  float: left;
}
.home-index .right-content .list,
.home-index .left-content .list {
  height: calc(100% - 45px);
  overflow-y: auto;
  overflow-x: hidden;
}
.home-index .right-content .list .li,
.home-index .left-content .list .li {
  padding: 0 0 24px 0;
}
.home-index .right-content .list .li a,
.home-index .left-content .list .li a {
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  font-family: '微软雅黑' !important;
  color: #383D47;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #00abd5;
}
.home-index .right-content .list .li a:hover,
.home-index .left-content .list .li a:hover {
  text-decoration: underline !important;
}
.home-index .right-content {
  width: 28%;
}
.home-index .right-content .list .li {
  display: flex;
  align-items: center;
}
.home-index .right-content .list .li .el-row {
  line-height: 1;
}
.home-index .right-content .list .li .info {
  color: #8EA3B8;
  font-size: 14px;
  line-height: 1;
}
.home-index .right-content .list .li-left {
  cursor: pointer;
  border-right: 1px solid #E9EDF2;
}
.home-index .right-content .list .li-left i {
  color: #00abd5;
  font-size: 18px;
}
.home-index .right-content .list .li-right {
  padding-left: 16px;
}
.home-index .right-content .list .li-right .info {
  margin-top: 14px;
}
.home-index .el-badge__content.is-fixed {
  top: 10px;
  right: 4px;
  background-color: #FF6180;
}
.home-index .addmore {
  clear: both;
  text-align: center;
  cursor: pointer;
  color: #8EA3B8;
}
.home-userInfo .userInfo {
  width: 50px;
  height: 50px;
  float: left;
}
.home-userInfo .detailInfo {
  width: calc(100% - 60px);
  float: right;
}
.no-result {
  background: url("images/empty.png") center center no-repeat;
  height: 100%;
}
.my-dialog-style .el-dialog {
  width: 800px;
}
.my-dialog-style .el-dialog__header {
  padding: 24px;
  border-bottom: 1px solid #E4E7ED;
}
.my-dialog-style .el-dialog__header .el-dialog__title {
  font-size: 20ppx;
  color: #323947;
}
.my-dialog-style .el-dialog__body {
  padding: 30px 20px 14px 20px;
}
.flow-pagination {
  text-align: right;
  margin-top: 16px;
}
.flow-pagination .el-pagination,
.flow-pagination .el-select .el-input .el-input__inner,
.flow-pagination .el-pagination__total,
.flow-pagination .el-pagination__jump {
  color: #9AB0C6;
}
.flow-pagination .el-pager li.active {
  color: #00abd5;
}
.advanced-search-form > .el-row > .el-col {
  height: 47px;
}
.my-poper-advanced {
  padding: 24px 48px 48px 48px;
}
.my-poper-advanced .advanced-search-btn {
  margin-top: 24px;
}
.el-button--primary.is-plain {
  color: #ffffff;
  background-color: #00abd5;
  border-color: #00abd5;
}
.el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover {
  background-color: rgba(0, 171, 213, 0.8);
  border-color: rgba(0, 171, 213, 0.8);
}
.el-button--primary.is-plain.is-disabled {
  color: rgba(0, 171, 213, 0.8);
  background-color: rgba(0, 171, 213, 0.3);
  border-color: rgba(0, 171, 213, 0.3);
}
.el-button--text {
  color: #383D47;
}
.el-button--text:focus,
.el-button--text:hover {
  color: #00abd5;
}
.el-button.is-plain:focus,
.el-button.is-plain:hover {
  color: #ffffff;
  background-color: #00abd5;
  border-color: #00abd5;
}
.el-button--info.is-plain {
  background-color: #ffffff;
  border-color: #00abd5;
  color: #00abd5;
}
.el-button--medium {
  padding: 8px 20px;
}
.el-select,
.el-date-editor--daterange.el-input__inner {
  width: 100%;
}
.el-select-dropdown__item.selected {
  color: #00abd5;
}
.el-date-table td.end-date span,
.el-date-table td.start-date span {
  background-color: #00abd5;
}
.el-date-table td.in-range div,
.el-date-table td.in-range div:hover {
  background-color: rgba(0, 198, 247, 0.4);
  color: #fff;
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #00abd5;
  border-color: #00abd5;
}
.el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
  margin-bottom: 6px;
}
.el-tabs__item:hover,
.el-tabs__item.is-active {
  color: #00abd5;
}
.el-tabs__active-bar {
  background-color: #00abd5;
}
.el-switch.is-checked .el-switch__core {
  background-color: #00abd5;
  border-color: #00abd5;
}
.el-radio__input.is-checked + .el-radio__label {
  color: #00abd5;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #00abd5;
  background: #00abd5;
}
.el-dialog__header {
  text-align: left;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #00abd5;
}
/*滚动条  begin*/
* {
  scrollbar-face-color: #cccccc;
  /*面子*/
  scrollbar-arrow-color: #fff;
  /*箭头*/
  scrollbar-3dlight-color: #ccc;
  /*最外左*/
  scrollbar-highlight-color: #ccc;
  /*左二*/
  scrollbar-shadow-color: #ccc;
  /*右二*/
  scrollbar-darkshadow-color: #ccc;
  /*右一*/
  scrollbar-track-color: #eeeeee;
  /*滑道*/
}
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
/*滚动条宽度*/
/*滚动条按钮*/
/*滑道全部*/
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  /*滑道*/
  -webkit-border-radius: 0;
  /*滑道圆角宽度*/
}
::-webkit-scrollbar-thumb {
  background-color: #bfc5c9;
  /*滑动条表面*/
  border: solid 1px #bfc5c9;
  /*滑动条边框*/
  border-radius: 7px;
  /*滑动条圆角宽度*/
}
/*横竖滚动条交角*/
::-webkit-scrollbar-corner {
  background: none;
}
/*横竖滚动条交角图案*/
::-webkit-resizer {
  background-repeat: no-repeat;
  background-position: bottom right;
}
/*鼠标滑过滑动条*/
::-webkit-scrollbar-thumb:hover {
  background-color: #bfc5c9;
  border: solid 1px #bfc5c9;
  /*滑动条边框*/
}
/*滚动条 end*/
