@font-face {
  font-family: 'bmpicons';
  src:  url('fonts/bmpicons.eot?ke775f');
  src:  url('fonts/bmpicons.eot?ke775f#iefix') format('embedded-opentype'),
    url('fonts/bmpicons.ttf?ke775f') format('truetype'),
    url('fonts/bmpicons.woff?ke775f') format('woff'),
    url('fonts/bmpicons.svg?ke775f#bmpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bmpicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-ip001:before {
  content: "\e900";
}
.ic-ip002:before {
  content: "\e901";
}
.ic-ip003:before {
  content: "\e902";
}
.ic-people:before {
  content: "\e903";
}
.ic-menu-bg:before {
  content: "\e904";
}
.ic-ip006:before {
  content: "\e905";
}
.ic-ip007:before {
  content: "\e906";
}
.ic-ip008:before {
  content: "\e907";
}
.ic-home:before {
  content: "\e908";
}
.ic-flow:before {
  content: "\e909";
}
.ic-tasks:before {
  content: "\e90a";
}
.ic-copy:before {
  content: "\e90b";
}
.ic-trial-tasks:before {
  content: "\e90c";
}
.ic-query-process:before {
  content: "\e90d";
}
.ic-application:before {
  content: "\e90e";
}
.ic-draft:before {
  content: "\e90f";
}
.ic-process-agent:before {
  content: "\e910";
}
.ic-ip018:before {
  content: "\e911";
}
.ic-ip019:before {
  content: "\e912";
}
.ic-ip020:before {
  content: "\e913";
}
.ic-scroll-top:before {
  content: "\e914";
}
.ic-arrown-dowm:before {
  content: "\e915";
}
.ic-ip023:before {
  content: "\e916";
}
.ic-ip024:before {
  content: "\e917";
}
.ic-ip025:before {
  content: "\e918";
}
.ic-ip026:before {
  content: "\e919";
}
.ic-ip027:before {
  content: "\e91a";
}
.ic-setting:before {
  content: "\e91b";
}
.ic-unfold:before {
  content: "\e91c";
}
.ic-menu:before {
  content: "\e91d";
}
.ic-ip031:before {
  content: "\e91e";
}
.ic-search:before {
  content: "\e91f";
}
.ic-ip033:before {
  content: "\e920";
}
.ic-ip034:before {
  content: "\e921";
}
.ic-ip035:before {
  content: "\e922";
}
.ic-ip036:before {
  content: "\e923";
}
.ic-ip037:before {
  content: "\e924";
}
.ic-ip038:before {
  content: "\e925";
}
.ic-ip039:before {
  content: "\e926";
}
.ic-ip040:before {
  content: "\e927";
}
.ic-ip041:before {
  content: "\e928";
}
.ic-ip042:before {
  content: "\e929";
}
.ic-download:before {
  content: "\e92a";
}
.ic-ip044:before {
  content: "\e92b";
}
.ic-ip045:before {
  content: "\e92c";
}
.ic-ip046:before {
  content: "\e92d";
}
.ic-ip047:before {
  content: "\e92e";
}
.ic-ip048:before {
  content: "\e92f";
}
.ic-ip049:before {
  content: "\e930";
}
.ic-ip050:before {
  content: "\e931";
}
.ic-ip051:before {
  content: "\e932";
}
.ic-ip052:before {
  content: "\e933";
}
.ic-ip053:before {
  content: "\e934";
}
.ic-ip054:before {
  content: "\e935";
}
.ic-ip055:before {
  content: "\e936";
}
.ic-ip056:before {
  content: "\e937";
}
.ic-ip057:before {
  content: "\e938";
}
.ic-ip058:before {
  content: "\e939";
}
.ic-ip059:before {
  content: "\e93a";
}
.ic-ip060:before {
  content: "\e93b";
}
.ic-ip061:before {
  content: "\e93c";
}
.ic-file:before {
  content: "\e93d";
}
.ic-noresult:before {
  content: "\e93e";
}
.ic-ip064:before {
  content: "\e93f";
}
.ic-ip065:before {
  content: "\e940";
}
.ic-num:before {
  content: "\e941";
}